<div class="container">
	<div class="screen">
		<div class="screen__content">
			<p><b class="head">Sales Forecast Analysis</b></p>
			<mat-form-field class="login">
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="text" class="login__input" [(ngModel)]="UserName" placeholder="UserName">
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="text" class="login__input" [(ngModel)]="Password" placeholder="Password">
				</div>
                <div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="text" class="login__input" [(ngModel)]="Location" placeholder="Location">
				</div>
                <div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="text" class="login__input" [(ngModel)]="Age" placeholder="Age">
				</div>
                <div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="text" class="login__input" [(ngModel)]="Designation" placeholder="Designation">
				</div>
                <div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="text" class="login__input" [(ngModel)]="Salary" placeholder="Salary">
				</div>
				<button class="login__submit" mat-button (click)="Register()">Register!!</button>				
			</mat-form-field>
			<div class="social-login">
                <button mat-button routerLink="/login">EXISTING USER?!</button>
				<div class="social-icons">
					<a href="#" class="social-login__icon fab fa-instagram"></a>
					<a href="#" class="social-login__icon fab fa-facebook"></a>
					<a href="#" class="social-login__icon fab fa-twitter"></a>
				</div>
			</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>
<router-outlet></router-outlet>



