<div *ngIf="Validate() == true">
    <div class="title">
        <p>Welcome!! To Sales Forecast Analysis <button class="logout" mat-button (click)="LogOut()">Logout</button></p>
    </div>
    <div class="title2">
        <p>Mr/Ms. {{this.UserName}} <button class="chg-pwd" mat-button routerLink="/dashboard">Back</button></p>
    </div>
    <div class="split left">
        <mat-form-field class="login">
            <div class="login__field">
                <i class="login__icon fas fa-user"></i>
                <input type="text" class="login__input" [(ngModel)]="Old_Password" placeholder="Old_Password">
            </div>
            <div class="login__field">
                <i class="login__icon fas fa-lock"></i>
                <input type="password" class="login__input" [(ngModel)]="New_Password" placeholder="New_Password">
            </div>
            <button class="login__submit" mat-button (click)="Change_Pwd()">Change Password</button>				
        </mat-form-field>
    </div>
    <div class="centered">
        <img [src]="myimage" alt="Avatar man">
    </div>
    <div class="split right">
        <p><b class="head">User Details</b><br><br></p>
        <p><b class="head">User Name</b> &nbsp;&nbsp;&nbsp;<b class="content">{{UserName}}</b><br><b class="head">Location</b> &nbsp;&nbsp;&nbsp;<b class="content">{{Location}}</b><br><b class="head">Age</b> &nbsp;&nbsp;&nbsp;<b class="content">{{Age}}</b><br><b class="head">Designation</b> &nbsp;&nbsp;&nbsp;<b class="content">{{Designation}}</b><br><b class="head">Salary</b> &nbsp;&nbsp;&nbsp;<b class="content">₹{{Salary}}</b></p>
    </div>
    <router-outlet></router-outlet>
</div>
